{% extends 'base.html' %}

{% block content %}
  <h2>Ghibli Movies</h3>
  <div>
    <p>
      Welcome to the official unoffical Ghibli movie database.
    </p>
    <p>
      On this page, you can see a list of movies published by <a href="https://en.wikipedia.org/wiki/Studio_Ghibli", target="_blank">Studio Ghibli</a> and <span style="color: grey;"><del>every single</del></span> some of the characters which appear in them.
    </p>
  </div>
  {% for movie in movies %}
    <hr>
    <h3>{{movie.title}}</h3>
    <h4>Characters:</h4>
    <ul>
      {% for character in movie.characters %}
        <li>{{character.name}}</li>
      {% empty %}
        <em>Apologies, we couldn't find any notable character for <strong>{{movie.title}}</strong>. Why not watch it to find out yourself?</em>
      {% endfor %}
    </ul>
  {% endfor %}
  <hr>
{% endblock content %}